 html {
        background-image: url(image/11.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      body {
          font-weight: normal;
      }

     
      .avatar {
        width: 200px;
        border-radius: 20px;
        border: 1px solid rgb(253, 253, 253);
        box-shadow: 3px 3px 5px rgb(90, 127, 148);
      }

      h1 {
        color: rgba(255, 255, 255, 0.76);
      }
     
      .info p {
       color: rgba(255, 255, 255, 0.76);
       margin: 0;
       font-style: italic;
       text-decoration: none;
       /* text-transform: uppercase; */
       /* letter-spacing: 5px; */
       /* word-spacing: 10px; */
      }

     .container {
         max-width: 1300px;
         margin: auto;
     }

     .social {
       margin: 0px; 
       border-radius: 10px;
       border: 1px solid rgb(253, 253, 253);
       box-shadow: 3px 3px 5px rgb(171, 219, 221);
       
     } 

     a{
      color: rgba(255, 255, 255, 0.76);
      text-decoration: none;
    }

    a:hover {
      color:rgb(38, 95, 253);
      text-decoration: underline;
    }

    a:active {
      color:rgb(38, 95, 253);
    }


.текст-заголовок {
  font-size: 25px;
  font-weight: bold;
  color:rgba(255, 255, 255, 0.76);
  margin-block-end: 20px;
}

.hobbyes {
       margin: 0px; 
       padding-bottom: 15px;
       border-radius: 10px;
       border: 1px solid rgb(253, 253, 253);
       box-shadow: 3px 3px 5px rgb(171, 219, 221);
       
}
.hobbyes a{
  padding-left: 25px;
}

.Experience {
  color:rgba(255, 255, 255, 0.76);
  margin: 0px; 
  padding-bottom: 15px;
       border-radius: 10px;
       border: 1px solid rgb(253, 253, 253);
       box-shadow: 3px 3px 5px rgb(171, 219, 221);
}
 .Experience table {
   padding-left: 20px;
 }


figure {
  display:flex;
  margin-block-start: 5px;
  margin-block-end: 5px;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
}

.contact {
  color:rgba(255, 255, 255, 0.76);
  margin: 0px; 
  padding-bottom: 15px;
       border-radius: 10px;
       border: 1px solid rgb(253, 253, 253);
       box-shadow: 3px 3px 5px rgb(171, 219, 221);
}

.contact form {
  padding-left: 20px;
}

.contact input {
  border: 1px solid #638dff;
  border-radius: 5px;
  text-decoration: none;
	color: rgb(0, 0, 0);
	background-color: #fff;
}

.contact textarea {
  border: 1px solid #638dff;
  border-radius: 5px;
  text-decoration: none;
	color: rgb(0, 0, 0);
	background-color: #fff;
}


.кнопка {
  display: inline-block;
	box-sizing: border-box;
	padding: 1px;
	margin: 0 7px 7px 0;
	outline: none;
	border: 1px solid #638dff;
	border-radius: 25px;
	height: 24px;
	line-height: 0;
	font-size: 7px;
	font-weight: 250;
	text-decoration: none;
	color: #fff;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	vertical-align: top;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}

.кнопка:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.кнопка:hover {
	background-color: lightskyblue;
}
.кнопка:active {
	background-color:lightskyblue;
}

.кнопка span {
	display: block;	
	box-sizing: border-box;
	padding: 0 25px;    
	height: 21px;
	line-height: 19px;    
	border: 1px solid #a7e4f3;
	border-radius: 25px;    
	font-size: 14px;
	color: #FFFFFF;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #4790d3;
	text-align: center;
	font-weight: 300;
}

.отступ {
  padding: 0px 4px;
}